@font-face {
  font-family: "ALS Fuchsia";
  src: url(../fonts/alsfuchsia.otf); }
* {
  margin: 0 auto;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  margin: 0;
  font: 1.9rem "Arial", sans-serif;
  font-size: 1.9rem;
  color: #000;
  line-height: 1.7; }

a {
  color: #4580C0;
  text-decoration: none; }

a,
button,
input,
textarea {
  outline: none; }

h1,
h2,
h3 {
  color: #000; }

h1 {
  font-size: 3.6rem;
  font-weight: bold; }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    h1 {
      font-size: 4.8rem; } }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 7.2rem; } }

h2 {
  font-size: 3.2rem; }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    h2 {
      font-size: 3.6rem; } }
  @media only screen and (min-width: 992px) {
    h2 {
      font-size: 4.2rem; } }

h3 {
  font-size: 2.4rem; }

ul {
  padding-left: 2.5rem;
  list-style-type: none; }
  ul li {
    position: relative;
    line-height: 2.2; }
    ul li::before {
      position: absolute;
      top: 0;
      left: -2.5rem;
      content: "\2014"; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.container {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .container {
      padding: 0 2rem; } }
  @media only screen and (min-width: 1200px) {
    .container {
      padding: 0 4rem;
      max-width: 1366px; } }

.view .title {
  margin-bottom: 2rem;
  line-height: 1.21;
  font-size: 6.5rem; }
.view .additional-text {
  margin: 0 auto;
  color: #323232;
  max-width: 85rem;
  font-size: 2rem;
  line-height: 1.2; }
  @media only screen and (min-width: 992px) {
    .view .additional-text {
      font-size: 3.2rem; } }

.header {
  margin: 3rem 0; }

.logo {
  display: block;
  margin-bottom: 3rem;
  width: 300px;
  height: 36px;
  background: url("../img/logo.png") no-repeat; }
  @media only screen and (min-width: 992px) {
    .logo {
      float: left; } }

.footer-logo {
  display: block;
  background: url("../img/bender-footer.png") center no-repeat;
  width: 300px;
  height: 192px;
  margin-top: 4rem; }

.search .input-area {
  display: inline-block;
  position: relative; }
  .search .input-area::before {
    font: 2rem "FontAwesome";
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    content: "\f002";
    color: #cbcbcb; }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .search .input-area {
      float: right; } }
  @media only screen and (min-width: 992px) {
    .search .input-area {
      float: right; } }
.search input[type="search"] {
  width: 30rem;
  padding-left: 5rem;
  color: #4c4c4c;
  border-radius: 1.5rem; }

.btn-large {
  cursor: pointer;
  margin: 5rem auto;
  padding: 0.5rem 5rem;
  color: #4580C0;
  font-size: 1.8rem;
  border: 2px solid #d0ddec;
  border-radius: 1rem;
  background-color: transparent; }
  .btn-large:active, .btn-large:hover {
    color: #FF656C;
    border-color: #FF656C; }

.eye {
  position: absolute;
  top: 20.8rem;
  left: 9.2rem;
  width: 9.6rem;
  height: 9.6rem;
  border: 5px solid #000;
  border-radius: 50%;
  background-color: #000; }
  .eye::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation-name: eyewink;
            animation-name: eyewink;
    -webkit-animation-duration: 3000ms;
            animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  @media only screen and (min-width: 992px) {
    .eye {
      width: 12rem;
      height: 12rem;
      top: 27rem;
      left: 12rem; } }
  @media only screen and (min-width: 1200px) {
    .eye {
      width: 14rem;
      height: 14rem;
      top: 31rem;
      left: 14rem; } }

.pupil {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  top: 3.6rem;
  left: 3.6rem;
  border-radius: 50%;
  background-color: #000;
  z-index: 2; }
  @media only screen and (min-width: 992px) {
    .pupil {
      width: 2.2rem;
      height: 2.2rem;
      top: 3rem;
      left: 3rem; } }
  @media only screen and (min-width: 1200px) {
    .pupil {
      width: 2.6rem;
      height: 2.6rem;
      top: 5.4rem;
      left: 5.4rem; } }

.eye {
  position: absolute;
  width: 14rem;
  height: 14rem;
  bottom: 15rem; }

.eyewhite {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #000;
  background: #fff;
  position: relative;
  margin-top: -3px;
  box-sizing: border-box;
  opacity: 0; }

.pupil {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000; }

@-webkit-keyframes eyewink {
  80% {
    height: 100%;
    top: 0; }
  82% {
    height: 80%;
    top: 10%; }
  84% {
    height: 58%;
    top: 22%; }
  86% {
    height: 21%;
    top: 40%; }
  88% {
    height: 6%;
    top: 48%; }
  90% {
    height: 0;
    top: 50%; }
  92% {
    height: 6%;
    top: 48%; }
  94% {
    height: 21%;
    top: 40%; }
  96% {
    height: 58%;
    top: 22%; }
  98% {
    height: 80%;
    top: 10%; }
  100% {
    height: 100%;
    top: 0; } }

@keyframes eyewink {
  80% {
    height: 100%;
    top: 0; }
  82% {
    height: 80%;
    top: 10%; }
  84% {
    height: 58%;
    top: 22%; }
  86% {
    height: 21%;
    top: 40%; }
  88% {
    height: 6%;
    top: 48%; }
  90% {
    height: 0;
    top: 50%; }
  92% {
    height: 6%;
    top: 48%; }
  94% {
    height: 21%;
    top: 40%; }
  96% {
    height: 58%;
    top: 22%; }
  98% {
    height: 80%;
    top: 10%; }
  100% {
    height: 100%;
    top: 0; } }
.founders {
  width: 100%; }
  .founders .founder-crown {
    margin-top: 28px; }
  .founders img {
    vertical-align: bottom;
    margin-top: 6rem;
    margin-bottom: 3rem; }

.note {
  font-family: "ALS Fuchsia";
  color: #000;
  margin: 3rem auto;
  max-width: 88rem;
  padding: 3rem 0;
  font-size: 2.8rem;
  line-height: 1.5;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb; }
  @media only screen and (min-width: 992px) {
    .note {
      margin: 5rem auto;
      padding: 5rem 0;
      font-size: 3.6rem; } }

.subcontainer {
  margin-top: 3rem;
  margin: 0 auto;
  max-width: 68rem;
  text-align: left; }
  .subcontainer-title {
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 2rem; }
  .subcontainer h3 {
    font-weight: bold;
    margin-top: 2.2rem;
    margin-bottom: 1rem; }

.review {
  padding-top: 5rem; }
  .review-cite {
    margin: 2.5rem auto 0;
    max-width: 26rem;
    font-size: 2.1rem;
    line-height: 3.2rem;
    color: #4c4c4c; }
    .review-cite.quoted {
      position: relative; }
      .review-cite.quoted::before {
        content: "\00ab";
        top: -.2rem;
        left: -3rem; }
      .review-cite.quoted::after {
        content: "\00bb";
        bottom: .2rem;
        right: -3rem; }
      .review-cite.quoted::before, .review-cite.quoted::after {
        position: absolute;
        font-size: 5rem;
        color: #4c4c4c; }

.feature {
  padding-top: 5rem; }
  @media only screen and (min-width: 992px) {
    .feature {
      display: inline-block;
      vertical-align: top; } }
  @media only screen and (min-width: 1200px) {
    .feature {
      display: block; } }
  .feature-title {
    margin: 2.5rem auto 0;
    max-width: 30rem;
    font-size: 2.1rem;
    line-height: 3.2rem;
    color: #4c4c4c; }

.buy-block {
  margin-top: 6rem;
  margin-bottom: 8rem; }

.buy-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3.2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #87578B 0%, #653C66 100%);
  background-image: linear-gradient(to bottom, #87578B 0%, #653C66 100%);
  box-shadow: 0 1rem 1rem rgba(60, 40, 60, 0.5); }
  .buy-button:hover {
    background-image: -webkit-linear-gradient(top, #c28cc4 0%, #6C426E 100%);
    background-image: linear-gradient(to bottom, #c28cc4 0%, #6C426E 100%);
    color: #fff;
    text-decoration: none; }
  .buy-button:active {
    background: #623b65;
    color: #fff;
    text-decoration: none; }

.buy-text {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 42rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #cbcbcb;
  font-style: italic;
  font-weight: bold; }

.scruffy {
  background-image: url("../img/founder3.png");
  background-size: cover;
  display: inlne-block;
  margin-top: 1rem;
  width: 7rem;
  height: 7rem; }

.books {
  margin: 5rem 0; }

.book {
  position: relative;
  margin-top: 4rem; }
  .book-cover {
    display: inline-block;
    position: relative;
    margin-bottom: 1.5rem; }
    .book-cover::before {
      content: '';
      display: block;
      position: absolute;
      left: 1.6rem;
      bottom: -2rem;
      border-color: #E54C58 #E54C58 transparent;
      border-style: solid;
      border-width: 1.5rem 0.5rem 0.5rem; }
    .book-cover::after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
    .book-cover.big-cover {
      position: relative;
      width: 26rem; }
      .book-cover.big-cover img {
        width: 100%; }
      @media only screen and (min-width: 992px) {
        .book-cover.big-cover {
          width: 36rem; } }
      @media only screen and (min-width: 1200px) {
        .book-cover.big-cover {
          width: 42rem; } }
      .book-cover.big-cover::before {
        left: 3.8rem;
        bottom: -3.8rem;
        border-width: 2.9rem 1.3rem .9rem;
        border-color: #068874 #068874 transparent; }
        @media only screen and (min-width: 1200px) {
          .book-cover.big-cover::before {
            left: 5rem;
            bottom: -6rem;
            border-width: 3rem 3rem 3rem; } }
      .book-cover.big-cover::after {
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); }
    .book-cover img {
      vertical-align: middle; }
  .book-description {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 30rem;
    font-size: 2.4rem;
    line-height: 1.42; }
    @media only screen and (min-width: 992px) {
      .book-description {
        padding: 0 10%;
        width: 87%; } }
    .book-description strong {
      color: #FF656C; }

.preloader {
  margin: 1rem 0; }
  .preloader-pic {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url("../img/animal.gif"); }

fieldset {
  margin: 0;
  border: 0; }

.fieldset.label {
  font-size: 1rem; }

input,
textarea {
  border: 1px solid #b3b3b3;
  border-radius: .5rem; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"] {
  height: 4rem;
  width: 200px;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  color: #4c4c4c; }

.order {
  margin: 0 auto;
  margin-top: 4rem; }
  @media only screen and (min-width: 1200px) {
    .order-pic {
      float: right;
      width: 30%; } }
  @media only screen and (min-width: 1200px) {
    .order-info {
      float: left;
      width: 70%;
      right: 30%; } }
  .order-contact {
    text-align: left; }
    .order-contact label {
      display: block; }
    @media only screen and (min-width: 1200px) {
      .order-contact-customer {
        float: left;
        width: 50%; } }
    .order-contact-customer input {
      width: 100%; }
      @media only screen and (min-width: 1200px) {
        .order-contact-customer input {
          width: 90%; } }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .order {
      width: 80%; } }
  @media only screen and (min-width: 992px) {
    .order {
      width: 85%; } }
  @media only screen and (min-width: 1200px) {
    .order {
      width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .checkout {
    float: left;
    width: 100%; } }
@media only screen and (min-width: 992px) {
  .checkout {
    float: left;
    width: 100%; } }

.price {
  font-size: 2.2rem;
  color: #4580C0; }
  @media only screen and (min-width: 992px) {
    .price {
      font-size: 3.2rem; } }

.order-message {
  margin-top: 2rem;
  font-size: 2rem; }
  @media only screen and (min-width: 992px) {
    .order-message {
      font-size: 2.8rem; } }
  .order-message.error {
    color: #E74C52; }

.delivery, .payment {
  text-align: left; }
  .delivery legend, .payment legend {
    font-weight: bold;
    color: #000; }
  .delivery input[type="radio"], .payment input[type="radio"] {
    font-weigth: normal;
    color: #4c4c4c; }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .delivery, .payment {
      float: left;
      width: 50%; } }
  @media only screen and (min-width: 992px) {
    .delivery, .payment {
      float: left;
      width: 50%; } }
  .delivery > label, .payment > label {
    display: block; }

@media only screen and (min-width: 1200px) {
  .order-comment {
    float: left;
    width: 50%; } }
.order-comment textarea {
  width: 100%; }
