<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
 
    <link rel="stylesheet" href="css/main.css"> 
  </head>
  <body ng-app="fbbApp">
	<div class="container">
      <div class="header clearfix">
        <a href="#/" class="logo"></a>
        <form class="search">
          <div class="input-area">
            <input type="search" ng-model="search" ng-minlength="3" placeholder="Поиск, скорее всего, не работает" >
          </div>
        </form>
      </div>
    </div>
      
    <div class="container">
    	<div class="view" ng-view autoscroll></div>
    </div>
      
    <div class="container">
    	<div class="footer">
    		<a class="footer-logo" href="#/about"></a>
    	</div>
    </div>

    <!-- scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="libs/angular-dragdrop.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/bookListCtrl.js"></script>
    <script src="js/controllers/bookCtrl.js"></script>
    <script src="js/controllers/orderCtrl.js"></script>
  </body>
</html>