<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Издательство «Фрай, без штанов и Бендер»</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body ngapp="fbbBookApp">
  <div class="container">
    <div class="header row">
  	  <div class="col-md-8 col-sm-8 col-xs-12"><a class="logo" href="#"></a></div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <form class="search-form">
          <div class="input"><input type="text" placeholder="Поиск, скорее всего, не работает"></div>
          <div><input type="submit" value=""></div>
        </form>
      </div>
  	</div>
  </div>
    
    
  <div class="container">
  <h1 class="eyebook-title large-text text-center">Мы издаем книги — вы их можете не читать</h1>
    <div class="row eyebook clearfix">
      <div class="col-md-push-3 col-md-6 col-sm-12 col-xs-12">
        <div class="text-center eyebook">
              <div class="text-center book">
                <div class="image-wrapper">
                  <img src="imgmin/eye-book.jpg" alt="eyebook">
                   <div class="eye">
                      <div class="white">
                        <div class="eyelid eyelid-top"></div>
                        <div class="eyelid eyelid-bottom"></div>
                        <div class="eye-apple" style="{{style()}}"></div>
                      </div>
                   </div>
                </div>
              <div class="text-center eye-book-description">
                В топ-100 <span class="highlight">Zoidberg</span>zon.com в разделах «Это правда было так» и «Когнитивный писсонанс»
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-pull-6 col-md-3 col-sm-6 col-xs-12">
            <div class="text-center comments-column comments-column-left">
                <div class="comment">
                    <img src="imgmin/ben.png" alt="bender" />
                    <div class="text-center quote description">Эта книга доказывает ничтожность человеческой массы.</div>
                </div>

                <div class="comment">
                    <img src="imgmin/zoy.png" alt="zoydberg"/>
                    <div class="text-center description">В книге чувствуется безысходность и бесполезность</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="text-center comments-column comments-column-right">
                <div class="comment">
                    <img src="imgmin/bin.png" alt="binary"/>
                    <div class="text-center description">Книга неправильно переведена на двоичный код</div>
                </div>

                <div class="comment">
                    <img src="imgmin/mag.png" alt="magnet"/>
                    <div class="text-center description">В каждой книге магнит, который вытягивает вашу мелочь</div>
                </div>
            </div>
        </div>
        </div>
    </div>

  <div class="container book-block">
    <h1 class="large-text text-center">Самое незаметное издательство</h1>
    <p class="additional-text text-center hidden-xs">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</p>
    <div class="books-draggable ng-scope text-center" ng-controller="BooksCtrl">
      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="imgmin/book1.jpg">
          <div><a href="#">Краткая история почти ничего.</a>Эта книга — недоразуменье.</div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="imgmin/book2.jpg">
          <div><a href="#">Все знания о вселенной </a>компактно упакованы на одной странице.</div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
           <img src="imgmin/book3.jpg">
           <div>Автор подробно, всего двумя фразами, <a href="#">объясняет все.</a></div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="imgmin/book4.jpg">
          <div>Двоичные <a href="#">размышления о жизни после пресса.</a></div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="imgmin/book5.jpg">
          <div>Прозрачные тексты на мутные темы.</div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="imgmin/book6.jpg">
          <div>О чем спросить первого встречного мутанта с другой планеты. Руководство по умиранию.</div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="imgmin/book7.jpg">
          <div>Технические чертежи и детали самого лучшего робота на свете.</div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-12">
          <img src="imgmin/book8.jpg">
          <div>Коротко и ясно. Кому не ясно — Люрр объяснит. Коротко.</div>
         </div>
      </div>
      </div>
  </div>
  <div class="container about">
    <h1 class="large-text text-center">Вы работаете — мы отдыхаем</h1>
    <p class="additional-text text-center hidden-xs">Мы не несем ответственность за изданные книги. Мы выбираем книги случайно и где попало. Наши любимые темы не определены, не глубоки и не интересны. Мы считаем, что краткость. Поэтому мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.</p>
    <div class="text-block">
      <h2 class="text-center">История названия</h2>
      <p class="text-center">Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству XXI века <i>«Манн, Иванов и Фербер»</i>. После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве, межгалактический совет запретил издавать бумажные книги.</p>
    </div>
    <div class="row founder-images">
        <div class="col-md-2 col-sm-3 col-xs-6">
          <img class="founder" src="imgmin/founder1.png">
         </div>
         <div class="col-md-2 col-sm-3 col-xs-6">
          <img class="founder founder-crown" src="imgmin/founder2.png">
         </div>
         <div class="col-md-2 col-sm-3 col-xs-6">
          <img class="founder" src="imgmin/founder3.png">
         </div>
         <div class="col-md-2 col-sm-3 col-xs-6">
          <img class="founder" src="imgmin/founder4.png">
         </div>
         <div class="col-md-2 col-sm-3 col-xs-6">
          <img class="founder" src="imgmin/founder5.png">
         </div>
         <div class="col-md-2 col-sm-3 col-xs-6">
          <img class="founder" src="imgmin/founder6.png">
         </div>

    </div>
    <div class="text-block">
      <h2 class="text-center">История названия</h2>
      <p class="text-center">Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству XXI века <i>«Манн, Иванов и Фербер»</i>. После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве, межгалактический совет запретил издавать бумажные книги.</p>
    </div>

    <div class="text-block">
      <h2 class="text-center">История названия</h2>
      <p class="text-center">Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству XXI века <i>«Манн, Иванов и Фербер»</i>. После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве, межгалактический совет запретил издавать бумажные книги.</p>
      <div class="note">
      Сотрудники издательства были не раз замечены в провокациях и совершали бессмысленные действия.
      </div>
      <h2 class="text-center">История названия</h2>
      <p class="text-center">Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству XXI века <i>«Манн, Иванов и Фербер»</i>. После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве, межгалактический совет запретил издавать бумажные книги.</p>
    </div>

   <!-- <h1>Сайт находится в разработке</h1> -->

   <div class="footer section">
   <div class="bender-footer text-center">
    <a href="#"></a>
   </div>
   </div>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>