.founders {
  width: 100%;

  .founder-crown{
    margin-top: 28px;
  }

  img {
    vertical-align: bottom;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
}

.note {
    font-family: $fuchsia;
    color: $black;
    margin: 3rem auto;
    max-width: 88rem;
    padding: 3rem 0;
    font-size: 2.8rem;
    line-height: 1.5;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    
    @include respond-to(tablet-large){
      margin: 5rem auto;
      padding: 5rem 0;
      font-size: 3.6rem;
    }
}


.subcontainer {
  margin-top: 3rem;
  margin: 0 auto;
  max-width: 68rem;
  text-align: left;

  &-title {
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-weight: bold;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
  }
}
