.review {
  padding-top: 5rem;

  &-cite {
    margin: 2.5rem auto 0;
    max-width: 26rem;
    font-size: 2.1rem;
    line-height: 3.2rem;
    color: $gray;

    &.quoted {
      position: relative;
      &::before {
        content: "\00ab";
        top: -.2rem;
        left: -3rem;
      }
      &::after {
        content: "\00bb";
        bottom: .2rem;
        right: -3rem;
      }
      &::before,
      &::after {
        position: absolute;
        font-size: 5rem;
        color: $gray;
      }
    }
  }
}

.feature {
  padding-top: 5rem;

  @include respond-to(tablet-large) {
    display: inline-block;
    vertical-align: top;
  }

  @include respond-to(desktop) {
    display: block;
  }

  &-title {
    margin: 2.5rem auto 0;
    max-width: 30rem;
    font-size: 2.1rem;
    line-height: 3.2rem;
    color: $gray;
  }
}

.buy-block {
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.buy-button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 3.2rem;
    color: $white;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #87578B 0%, #653C66 100%);
    box-shadow: 0 1rem 1rem rgba(60, 40, 60, .5);

    &:hover {
      background-image: linear-gradient(to bottom, #c28cc4 0%, #6C426E 100%);
      color: $white;
      text-decoration: none;
    }

    &:active {
      background: #623b65;
      color: $white;
      text-decoration: none;
    }

}

.buy-text {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 42rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $light-gray;
    font-style: italic;
    font-weight: bold;
}

.scruffy {
    background-image: url("../img/founder3.png");
    background-size: cover;
    display: inlne-block;
    margin-top: 1rem;
    width: 7rem;
    height: 7rem;
}
