.books{
  margin: 5rem 0;
}
.book {
  position: relative;
  margin-top: 4rem;

  &-cover {
    display: inline-block;
    position: relative;
    margin-bottom: 1.5rem;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 1.6rem;
      bottom: -2rem;
      border-color: #E54C58 #E54C58 transparent;
      border-style: solid;
      border-width: 1.5rem 0.5rem 0.5rem;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    &.big-cover {
      position: relative;
      width: 26rem;
      img{
        width: 100%;
      }

      @include respond-to(tablet-large) {
        width: 36rem;
      }

      @include respond-to(desktop) {
        width: 42rem;
      }

      &::before {
        left: 3.8rem;
        bottom: -3.8rem;
        border-width: 2.9rem 1.3rem .9rem;
        border-color: #068874 #068874 transparent;

        @include respond-to(desktop) {
          left: 5rem;
          bottom: -6rem;
          border-width: 3rem 3rem 3rem;
        }
      }

      
      &::after {
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
      }
    }

    img {
      vertical-align: middle;
    }
  }

  &-description {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 30rem;
    font-size: 2.4rem;
    line-height: 1.42;

    @include respond-to(tablet-large) {
      padding: 0 10%;
      width: 87% ;
    }

    strong {
      color: $red;
    }
  }
}
