
.btn-large {
  cursor: pointer;
  margin: 5rem auto;
  padding: 0.5rem 5rem;
  color: $blue;
  font-size: 1.8rem;
  border: 2px solid $light-blue;
  border-radius: 1rem;
  background-color: transparent;

  &:active,
  &:hover {
    color: $red;
    border-color: $red;
  }
}