.eye {
  position: absolute;
  top: 20.8rem;
  left: 9.2rem;
  width: 9.6rem;
  height: 9.6rem;
  border: 5px solid $black;
  border-radius: 50%;
  background-color: $black;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    border-radius: 50%;
    background-color: $white;
    animation-name: eyewink;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
  }

  @include respond-to(tablet-large) {
    width: 12rem;
    height: 12rem;
    top: 27rem;
    left: 12rem;
  }

  @include respond-to(desktop) {
    width: 14rem;
    height: 14rem;
    top: 31rem;
    left: 14rem;
  }
}

.pupil {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  top: 3.6rem;
  left: 3.6rem;
  border-radius: 50%;
  background-color: $black;
  z-index: 2;

  @include respond-to(tablet-large) {
    width: 2.2rem;
    height: 2.2rem;
    top: 3rem;
    left: 3rem;
  }

  @include respond-to(desktop) {
    width: 2.6rem;
    height: 2.6rem;
    top: 5.4rem;
    left: 5.4rem;
  }
}

.eye{
  position: absolute;
  width: 14rem;
  height: 14rem;
  bottom: 15rem;

}

.eyewhite{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #000;
  background: $white;
  position: relative;
  margin-top: -3px;
  box-sizing: border-box;
  opacity: 0;
}

.pupil {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $black;
}

@keyframes eyewink {
  80% { height: 100%; top: 0; }
  82% { height: 80%; top: 10%; }
  84% { height: 58%; top: 22%; }
  86% { height: 21%; top: 40%; }
  88% { height: 6%; top: 48%; }
  90% { height: 0; top: 50%; }
  92% { height: 6%; top: 48%; }
  94% { height: 21%; top: 40%; }
  96% { height: 58%; top: 22%; }
  98% { height: 80%; top: 10%; }
  100% { height: 100%; top: 0; }
}