@font-face {
  font-family: "ALS Fuchsia";
  src: url(../fonts/alsfuchsia.otf);
}

$arial: "Arial", sans-serif;
$fuchsia: "ALS Fuchsia";
$fontawesome: "FontAwesome";

$mainfs: 10px;
$bodyfs: 1.9rem;

$h1fs: 3.6rem;
$h2fs: 3.2rem;
$h3fs: 2.4rem;

$font-body: $bodyfs $arial;

