$small: 768px;
$medium: 992px;
$large: 1200px;

@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $small) and (max-width: $medium) { @content; }
  }
  @else if $media == tablet-large {
    @media only screen and (min-width: $medium) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $large) { @content; }
  }
}

* {
  margin: 0 auto;
  box-sizing: border-box
}

html {
  font-size: $mainfs;
}

body {
  margin: 0;
  font: $font-body;
  font-size: $bodyfs;
  color: $black;
  line-height: 1.7;
}
a {
  color: $blue;
  text-decoration: none;
}

a,
button,
input,
textarea {
  outline: none;
}

h1,
h2,
h3 {
  color: $black;
}

h1 {
  font-size: $h1fs;
  font-weight: bold;

  @include respond-to(tablet) {
    font-size: 4.8rem;
  }

  @include respond-to(tablet-large) {
    font-size: 7.2rem;
  }
}

h2 {
  font-size: $h2fs;

  @include respond-to(tablet) {
    font-size: 3.6rem;
  }

  @include respond-to(tablet-large) {
    font-size: 4.2rem;
  }
}

h3 {
  font-size: $h3fs;
}


ul {
  padding-left: 2.5rem;
  list-style-type: none;

  li {
    position: relative;
    line-height: 2.2;

    &::before {
      position: absolute;
      top: 0;
      left: -2.5rem;
      content: "\2014";
    }
  }
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


.container {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;

  @include respond-to(tablet-large) {
    padding: 0 2rem;
  }

  @include respond-to(desktop) {
    padding: 0 4rem;
    max-width: 1366px;
  }
}

.view {
  .title {
    margin-bottom: 2rem;
    line-height: 1.21;
    font-size: 6.5rem;
  }

  .additional-text {
    margin: 0 auto;
    color: $dark-gray;
    max-width: 85rem;
    font-size: 2rem;
    line-height: 1.2;

    @include respond-to(tablet-large) {
      font-size: 3.2rem;
    }
  }
}