.preloader {
  margin: 1rem 0;

  &-pic {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url("../img/animal.gif");
  }
}

fieldset {
  margin: 0;
  border: 0;
}

.fieldset.label{
  font-size: 1rem;
}

input,
textarea {
  border: 1px solid #b3b3b3;
  border-radius: .5rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"] {
  height: 4rem;
  width: 200px;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  color: $gray;
}

.order {
  margin: 0 auto;
  margin-top: 4rem;

  &-pic {

    @include respond-to(desktop) {
      float: right;
      width: 30%;
    }
  }

  &-info {
    @include respond-to(desktop) {
      float: left;
      width: 70%;
      right: 30%;
    }
  }

  &-contact {
    text-align: left;

    & label {
      display: block;
    }

    &-customer {
      @include respond-to(desktop) {
        float: left;
        width: 50%;
      }

      input {
        width: 100%;

        @include respond-to(desktop) {
          width: 90%;
        }
      }
    }
  }
  @include respond-to(tablet) {
    width: 80%;
  }

  @include respond-to(tablet-large) {
    width: 85%;
  }

  @include respond-to(desktop) {
    width: 100%;
  }
}

.checkout {
  @include respond-to(tablet) {
    float: left;
    width: 100%;
  }

  @include respond-to(tablet-large) {
    float: left;
    width: 100%
  }
}

.price {
  font-size: 2.2rem;
  color: $blue;

  @include respond-to(tablet-large) {
    font-size: 3.2rem;
  }
}


.order-message {
  margin-top: 2rem;
  font-size: 2rem;

  @include respond-to(tablet-large) {
    font-size: 2.8rem;
  }

  &.error {
    color: $errorcolor;
  }
}

.delivery, .payment {
    text-align: left;

    & legend{
      font-weight: bold;
      color: $black;
    }
    & input[type="radio"]{
      font-weigth: normal;
      color: $gray;
    }

    @include respond-to(tablet) {
      float: left;
      width: 50%;
    }

    @include respond-to(tablet-large) {
      float: left;
      width: 50%;
    }

    & > label {
      display: block;
    }
  }


.order-comment {
      @include respond-to(desktop) {
        float: left;
        width: 50%;
      }

      textarea {
        width: 100%;
      }
    }