.header {
  margin: 3rem 0;
}

.logo {
  display: block;
  margin-bottom: 3rem;
  width: 300px;
  height: 36px;
  background: url("../img/logo.png") no-repeat;

  @include respond-to(tablet-large){
    float: left;
  }
}

.footer-logo {
    display: block;
    background: url("../img/bender-footer.png") center no-repeat;
    width: 300px; 
    height: 192px;
    margin-top: 4rem;
}


.search {
  .input-area {
    display: inline-block;
    position: relative;

    &::before {
      font: 2rem $fontawesome;
      display: block;
      position: absolute;
      top: 1rem;
      left: 1rem;
      content: "\f002";
      color: #cbcbcb;
    }

    @include respond-to(tablet){
      float: right;
    }

    @include respond-to(tablet-large) {
      float: right;
    }
  }

input[type="search"] {
    width: 30rem;
    padding-left: 5rem;
    color: $gray;
    border-radius: 1.5rem;
  }
}