<h1 class="title">Мы издаем книги — вы их можете не читать</h1>
<p class="additional-text">Оформить заказ на книгу
  <a href="#/books/{{book.id}}">{{book.title}}</a>
</p>

<form class="order clearfix" name="orderForm" ng-hide="responseCodeOk || responseCodeBadReq || responseCodeIntErr || showLoader" ng-submit="sendOrder()">
  <div class="order-pic"><img ng-src="{{book.cover.small}}" alt="{{book.title}}"></div>
 
  <div class="order-info">
    
    <fieldset class="order-contact">
      <div class="order-contact-customer clearfix ">
        <label for="name">Имя:</label>
        <input class="form-field" type="text" name="name" id="name" ng-model="customer.name" required>
        <label for="phone">Телефон:</label>
        <input class="form-field" type="tel" name="phone" id="phone" ng-model="customer.phone" required>
        <label for="email">Электропочта:</label>
        <input class="form-field" type="email" name="email" id="email" ng-model="customer.email" required>
        <label for="address" ng-if="showAddress">Адрес доставки:</label>
        <input class="form-field" type="text" name="address" id="address" ng-model="customer.address" ng-if="showAddress" required>
      </div>
      <div class="order-comment"><label for="comment">Комментарий к заказу:</label>
        <textarea name="comment" id="comment" cols="30" rows="6" ng-model="customer.comment"></textarea>
      </div>
    </fieldset>

    <fieldset class="delivery"><legend>Способ доставки:</legend>
      <label ng-repeat="delivery in deliveryList">
        <input type="radio" name="delivery" value="{{delivery.id}}" ng-model="customer.delivery" ng-change="setDeliveryType(delivery)" required>{{delivery.name}} - {{delivery.price}} {{currencyCode}}</label>
    </fieldset>

    <fieldset class="payment"><legend>Способ оплаты:</legend>
      <label ng-repeat="payment in paymentList | filter: customer.delivery">
        <input type="radio" name="payment" value="{{payment.id}}" ng-model="customer.payment" required>{{payment.title}}
      </label>
    </fieldset>
  </div>

  <fieldset class="checkout">
    <p class="price">Итого к оплате: {{book.price + deliveryPrice}} {{currencyCode}}</p>
    <button class="btn-large">Оформить заказ</button>
  </fieldset>
</form>


<p class="order-message" ng-if="responseCodeOk">Заказ на книгу успешно оформлен.<br>Спасибо за уничтожение леса!</p>
<p class="order-message error" ng-if="responseCodeBadReq">Ошибка при оформлении заказа: {{responseMsg}}</p>
<p class="order-message error" ng-if="responseCodeIntErr">Внутренняя ошибка: {{responseMsg}}</p>

<div class="preloader" ng-if="showLoader">
  <p class="order-message">Отправка данных заказа, подождите</p>
  <div class="preloader-pic"></div>
</div>