<h1 class="title large-text text-center">Мы издаем книги — вы их можете не читать</h1>

<div class="row clearfix">
  <div class="book col-md-push-3 col-md-6 col-sm-12 col-xs-12">
    <div class="book-cover big-cover">
      <img ng-src="{{book.cover.large}}" alt="{{book.title}}">
       <div class="eye" ng-show="showEye">
        <div class="pupil"></div>
        <div class="eyewhite"></div>
      </div>
    </div>
    <p class="text-center eye-book-description book-description" ng-bind-html="book.description"></p>
  </div>

  <div class="review-block col-md-pull-6 col-md-3 col-sm-6 col-xs-12">
    <div class="review" ng-repeat="review in book.reviews">
      <div class="review-pic">
        <img ng-src="{{review.author.pic}}" alt="{{review.author.name}}">
      </div>
      <p class="review-cite quoted">{{review.cite}}</p>
    </div>
  </div>

  <div class="feature-block col-md-3 col-sm-6 col-xs-12">
    <div class="feature" ng-repeat="feature in book.features">
      <div class="feature-pic">
        <img ng-src="{{feature.pic}}" alt="{{feature.title}}">
      </div>
      <p class="feature-title">{{feature.title}}</p>
    </div>
  </div>
</div>

<div class="buy-block col-md-push-1 col-md-10 col-sm-push-1 col-sm-10 col-xs-12">
  <a href="#/order/{{book.id}}" class="buy-button">Купить за жалкие {{book.price}} {{currencyCode}}</a>
  <p class="buy-text">Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</p>
  <div class="scruffy"></div>
</div>