<h1 class="title col-md-12 col-sm-12 col-xs-12">Самое незаметное издательство</h1>
<p class="additional-text hidden-xs">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</p>

<div class="row">
	<div class="books">
	  <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="book in books | filter: search | limitTo: booksTotal" ng-model="books" data-jqyoui-options="{revert: 'invalid'}" data-drag="true" data-drop="true" jqyoui-droppable="{index: {{$index}}}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction: 'jqyouiDirection'}">
	    <a class="book-cover" href="#/books/{{book.id}}">
	    	<img ng-src="{{book.cover.small}}" alt="{{book.title}}">
	    </a>
	    <p class="book-info text-center">
	    	<a href="#/books/{{book.id}}" ng-bind-html="book.info"></a>
	    </p>
	  </div>
	</div>
</div>

<button class="col-md-push-4 col-md-4 col-sm-push-4 col-sm-4 col-xs-12 btn-large" ng-click="show(4)" ng-show="btnView">Ещё несколько книг</button>